__pycache__/
*.py[cod]
*$py.class

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
.venv-build/
venv/
env/

build/
dist/
release/
*.log

*.egg-info/
pip-wheel-metadata/

.DS_Store
Thumbs.db
